
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <h1>Resources</h1>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="http://www.nbs.go.tz/nbs/takwimu/references/Tanzania_in_figures2012.pdf">MTUHA BOOKS</a></h4>
                    <p></p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">HEALTH SECTOR PERFORMANCE PROFILE</h4>
                    <p></p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">STATISTICAL TABLES AND FIGURES</h4>
                    <p></p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">HUMAN RESOURCE FOR HEALTH</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>