<div class="row">
    <div class="col-xs-12 col-md-12 " style="width:100%;min-heigth:500px;">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[2].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[2].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[2].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <highchart id="snippets[2].placeHolder" config="snippets[2].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 ">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <label class="btn btn-success" ng-model="snippets[3].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
            <highchart id="snippets[3].placeHolder" config="snippets[3].highchartsNG"></highchart>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/yh3zclsGTXi/data">
        </a>
    </div>
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/OV57mCkI8C2/data">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 ">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <label class="btn btn-success" ng-model="snippets[4].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
            <highchart id="snippets[4].placeHolder" config="snippets[4].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/iflOu4vLbE0/data">
        </a>
    </div>
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/njnMiPyc6gm/data">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 ">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
            <highchart id="snippets[5].placeHolder" config="snippets[6].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/nWqYU4Kbe3s/data">
        </a>
    </div>
    <div class="col-xs-6 col-md-6 ">
        <a href="#" class="thumbnail text-center">
            <img  src="https://dhis.moh.go.tz/api/maps/jc9dbRB6ksH/data">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 ">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <label class="btn btn-success" ng-model="snippets[6].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
            <highchart id="snippets[6].placeHolder" config="snippets[6].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label class="btn btn-success" ng-model="snippets[7].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[7].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[7].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[7].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[7].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <highchart id="snippets[7].placeHolder" config="snippets[7].highchartsNG"></highchart>
    </div>
    <div class="col-xs-6 col-md-6">
        <label class="btn btn-success" ng-model="snippets[8].highchartsNGoptions.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[8].highchartsNGoptions.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[8].highchartsNGoptions.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[8].highchartsNGoptions.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[8].highchartsNGoptions.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <highchart id="snippets[8].placeHolder" config="snippets[8].highchartsNG"></highchart>
    </div>
</div>