<div class="row">
    <div class="col-xs-12 col-md-12 " style="width:100%;">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'bar'" uncheckable>Bar</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <label class="btn btn-success" ng-model="snippets[14].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
            <button type="button" class="btn btn-primary" ng-model="snippets[14].highchartsNG.options.chart.polar" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Polar</button>
            <highchart id="snippets[14].placeHolder" config="snippets[14].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 ">
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'bar'" uncheckable>Bar</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <label class="btn btn-success" ng-model="snippets[15].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
        <button type="button" class="btn btn-primary" ng-model="snippets[15].highchartsNG.options.chart.polar" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Polar</button>
        <highchart id="snippets[15].placeHolder" config="snippets[15].highchartsNG"></highchart>
    </div>
    <div class="col-xs-6 col-md-6 ">
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'bar'" uncheckable>Bar</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <label class="btn btn-success" ng-model="snippets[16].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
        <button type="button" class="btn btn-primary" ng-model="snippets[16].highchartsNG.options.chart.polar" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Polar</button>
        <highchart id="snippets[16].placeHolder" config="snippets[16].highchartsNG"></highchart>
    </div>
</div>