<div class="row">
    <div class="col-xs-12 col-md-12 " style="width:100%;">
        <div style="margin-top:10px;" class="col-md-12">
            <label class="btn btn-success" ng-model="snippets[17].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
            <label class="btn btn-success" ng-model="snippets[17].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
            <label class="btn btn-success" ng-model="snippets[17].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
            <label class="btn btn-success" ng-model="snippets[17].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
            <label class="btn btn-success" ng-model="snippets[17].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
            <highchart id="snippets[17].placeHolder" config="snippets[17].highchartsNG"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 ">
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <label class="btn btn-success" ng-model="snippets[18].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
        <highchart id="snippets[18].placeHolder" config="snippets[18].highchartsNG"></highchart>
    </div>
    <div class="col-xs-6 col-md-6 ">
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'column'" uncheckable>Column</label>
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'line'" uncheckable>Line</label>
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'area'" uncheckable>Area</label>
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'spline'" uncheckable>Spline</label>
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'areaspline'" uncheckable>Area Spline</label>
        <label class="btn btn-success" ng-model="snippets[19].highchartsNG.options.chart.type" btn-radio="'pie'" uncheckable>Pie</label>
        <highchart id="snippets[19].placeHolder" config="snippets[19].highchartsNG"></highchart>
    </div>
</div>