<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" href="http://dhis2-cdn.org/v216/ext/resources/css/ext-plugin-gray.css" />
<script type="text/javascript" src="js/modernizr.custom.29473.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#content").find("[id^='tab']").hide();
        $("#tabs li:first").attr("id", "current");
        $("#content #tab1").fadeIn();
        $('#tabs a').click(function (e) {
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current") {
                return;
            } else {
                $("#content").find("[id^='tab']").hide();
                $("#tabs li").attr("id", "");
                $(this).parent().attr("id", "current");
                $('#' + $(this).attr('name')).fadeIn();
            }
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="dashboard">
                <ul id="tabs">
                    <li><a href="" name="tab1">HMIS</a></li>
                    <li><a href="" name="tab2">HIV/AIDS</a></li>
                    <li><a href="" name="tab3">Malaria</a></li>
                    <li><a href="" name="tab4">TB and Leprosy</a></li>
                </ul>
                <div id="content" style="height: auto">
                    <div id="tab1">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=KS23aDsSWDV" class="thumbnail" >
                                    <img src="https://dhis.moh.go.tz/api/charts/KS23aDsSWDV/data?width=1600&height=700">
                                    <div id="chart1" style="width:700px;"></div>
                                    <script type="text/javascript">
                                        Ext.onReady(function () {
                                            DHIS.getChart({
                                                "id": "KS23aDsSWDV"
                                            });
                                        });
                                    </script>
                                    <div class="caption">
                                        <h3>HMIS Wagonjwa wa Nje (OPD)</h3>
                                        <p>Reporting rate for Out Patient Department (OPD) for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=Trh44c5018E" class="thumbnail" >
                                    <img src="https://dhis.moh.go.tz/api/charts/Trh44c5018E/data?width=1600&height=700">

                                    <div class="caption">
                                        <h3>HMIS Wagonjwa wa Kulazwa (IPD)</h3>
                                        <p>Reporting rate for In Patient Department (IPD) for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class ="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=ia6tyj3QKfJ" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/ia6tyj3QKfJ/data">
                                    <div class="caption">
                                        <h3>HMIS Kliniki ya Wajawazito (ANC)</h3>
                                        <p>Reporting rate for Antenatal Clinic for the year 2014</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=bSJnSaijKtx" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/bSJnSaijKtx/data">
                                    <div class="caption">
                                        <h3>HMIS Huduma baada ya Kujifungua (PNC)</h3>
                                        <p>Reporting rate for Postnatal Care for the year 2014 </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=xoZ2Su59EvW" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/xoZ2Su59EvW/data" >
                                    <div class="caption">
                                        <h3>HMIS Tracer Medicine</h3>
                                        <p>Reporting rate for Tracer Medicine for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=ERVGHaNijje" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/ERVGHaNijje/data">
                                    <div class="caption">
                                        <h3>HMIS Uzazi wa Mpango (FP)</h3>
                                        <p>Reporting rate for Family Planning for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=CXLf5RJw4d9" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/CXLf5RJw4d9/data" >
                                    <div class="caption">
                                        <h3>HMIS Huduma ya Watoto (Child Health)</h3>
                                        <p>Reporting rate for Child Health for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=N7LBEMmrojf" class="thumbnail">
                                    <!--<img  src="https://dhis.moh.go.tz/api/charts/SqGJgkYSIPS/data">-->
                                    <img  src="https://dhis.moh.go.tz/api/maps/N7LBEMmrojf/data">
                                    <div class="caption">
                                        <h3>HMIS Kutoka wodi ya Wazazi (L & D)</h3>
                                        <p>Reporting rate for Labor and Delivery for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=ij9eD0ukFow" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/ij9eD0ukFow/data">
                                    <div class="caption">
                                        <h3>HMIS Completeness by Facility Ownership</h3>
                                        <p>Reporting rate for HMIS as per Facility Ownership for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=A7UryNP2iqp" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/A7UryNP2iqp/data">
                                    <div class="caption">
                                        <h3>HMIS Completeness by Facility Type</h3>
                                        <p>Reporting rate for HMIS as per Facility Type for the year 2014</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" ng-include="'fragments/hivaids.html'">
                    </div>
                    <div id="tab3" ng-include="'fragments/malaria.html'">
                    </div>
                    <div id="tab4" ng-include="'fragments/tbleprosy.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>       
</div>
