<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <a href=""></a>
            <img src="https://dhis.moh.go.tz/api/charts/NC0oDnDgZIW/data">
            <div class="caption">
                <h3>Malaria Confirmed Cases</h3> 
                <p>Cases of malaria confirmed in the previous quarter by regions</p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="">
                <img src="https://dhis.moh.go.tz/api/charts/Rk2iseBROtU/data">
</a>
            <div class="caption">
                <h3>Malaria Pregnant Women Positivity Rate</h3>

                </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="">
                <img src="https://dhis.moh.go.tz/api/charts/o2yyqY84kru/data">
            </a>
            <div class="caption">
                <h3>Proportion of Pregnant WOmen taking IPTp2 </h3>
            </div>
        </div>
    </div>

    </div>
